* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
	font-size: 62.5%;
	line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
	font-size: 1.6rem;
	max-width: 1199px;
	margin: 0 auto;
	background: #000;
	color: #fff;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

body {
  font-family: "HelveticaNeue-Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

code, pre {
  font-family: "Inconsolata", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

small {
	font-size: 80%;
}

p {
	margin-bottom: 1rem;
	padding: 3rem 2rem;
	text-align: center;
}

.date-and-time {
	font-size: 300%;
	text-align: justify;
	font-weight: 100;
	text-align: initial;
	padding-top: 4rem;
	padding-bottom: 4rem;
	margin-bottom: 0;
}

.date, .time {
	display: inline-block;
}

.time {
	float: right;
}

.modules {
	font-size: 0;
}

.module {
	padding: 4rem 2rem;
	text-align: center;
	min-width: 256px;
	width: 33.333%;
	max-width: 33.333%;
	display: inline-block;
	font-size: 1.6rem;
}

.module-outdoor {
	width: 100%;
	max-width: 100%;
}

.module__details--name {
	text-transform: uppercase;
	letter-spacing: .02em;
}

.module-outdoor .module__details--name {
	font-size: 200%;
}

.module__details--temp {
	font-size: 400%;
	position: relative;
	margin-bottom: .75rem;
}

/*
.module__details--temp:after {
	content: '℃';
	font-size: 25%;
	opacity: .2;
	position: absolute;
	top: 19%;
}
*/

.module__details--temp__decimal {
	font-size: 40%;
	/*vertical-align: super;*/
	opacity: .5;
	margin-left: .7rem;
}

.module-outdoor .module__details--temp {
	font-size: 1100%;
	/*margin-left: -12%;*/
}

.module__details--time {
	font-size: 80%;
	opacity: .7;
	letter-spacing: .02em;
}

.module-outdoor .module__details {
	float: left;
	width: 50%;
}

.module-outdoor .flot-chart {
	display: inline-block;
	width: 50%;
	height: 250px;
}

.module-indoor .module__details {
	margin-bottom: 2rem;
}

.module-indoor .flot-chart {
	height: 150px;
}

.update-timer {
	background-color: #444;
	margin-bottom: 2rem;
}

.update-timer__bar {
	background-color: #29abe2;
	display: block;
	width: 0;
	height: 2px;
	transition-property: width;
	transition-timing-function: linear;
	box-shadow: -3px 0 0 #000 inset;
}

.data-time {
	opacity: .4;
	letter-spacing: .02em;
	margin-bottom: 0;
}

form {
	text-align: center;
}

button[type="submit"] {
	-webkit-appearance: button;
	border: 0;
	margin: 0;
	padding: 1rem 3rem;
	color: #888;
	background-color: #222;
	font-family: "HelveticaNeue-Medium", sans-serif;
	text-transform: uppercase;
	letter-spacing: .02em;
}
